@import '~variables.scss';

mat-form-field {
  width: 400px;
  margin: 30px 30px 0 0;
}

.form-title {
  font-size: 20px;
  font-weight: bold;
  font-family: $font-family;
  padding: 0 0 $padding 0;
}

.field-type {
  font-size: 16px;
  font-family: $font-family;
  margin: 0 0 $padding 0;
}

.readonly-field {
  opacity: 0.5;
}

.buttons-panel {
  margin-top: 20px;
}

@media only screen and (max-device-width: 836px) {

  mat-form-field {
    width: 140px;
    margin: 20px 20px 0 0;
    font-size: 12px;
  }
}