<mat-spinner *ngIf="!abonentLoaded"></mat-spinner>
<div [hidden]="!abonentLoaded">
  <div class="row form-title">Редактирование данных абонента</div>
  <div class="row field-type">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedFieldType" name="fieldType">
        <mat-option *ngFor="let fieldType of fieldTypes" [value]="fieldType?.value">
          {{ fieldType?.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <form *ngIf="abonent">
    <div class="row">
      <mat-form-field class="readonly-field">
        <input matInput placeholder="Фамилия" [value]="copy?.surname" [disabled]="true">
        <button type="button" mat-button matSuffix mat-icon-button (click)="abonent.surname=copy.surname">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input (focus)="onFocusField(1)" matInput placeholder="Фамилия" [ngModel]="abonent?.surname" (ngModelChange)="abonent.surname=$event"
          [formControl]="surname" name="Surname" required>
        <mat-error *ngIf="surname?.invalid && surname?.touched">
          Surname is
          <strong>invalid</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="readonly-field">
        <mat-select placeholder="Тип документа" [disabled]="true" [value]="copy?.docType?.value">
          <mat-option *ngFor="let docType of docTypes" [value]="docType.value">
            {{ docType?.viewValue }}
          </mat-option>
        </mat-select>
        <button type="button" mat-button matSuffix mat-icon-button (click)="abonent.docType.value=copy.docType.value">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-select (focus)="onFocusField(2)" placeholder="Тип документа" [ngModel]="abonent?.docType?.value" (ngModelChange)="abonent.docType.value=$event"
          name="abonentDocType">
          <mat-option *ngFor="let docType of docTypes" [value]="docType?.value">
            {{ docType?.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="readonly-field">
        <input matInput [matDatepicker]="readpicker" placeholder="Дата выдачи" [value]="copy?.issueDate" [disabled]="true">
        <mat-datepicker #readpicker></mat-datepicker>
        <button type="button" mat-button matSuffix mat-icon-button (click)="abonent.issueDate=copy.issueDate">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input (focus)="onFocusField(3)" matInput [matDatepicker]="editpicker" placeholder="Дата выдачи" [ngModel]="abonent?.issueDate"
          (ngModelChange)="abonent.issueDate=$event" name="abonentIssueDate" [min]="minIssueDate">
        <mat-datepicker-toggle matSuffix [for]="editpicker"></mat-datepicker-toggle>
        <mat-datepicker #editpicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="readonly-field">
        <input matInput placeholder="Код подразделения" [value]="copy?.departmentCode" [disabled]="true">
        <button type="button" mat-button matSuffix mat-icon-button (click)="abonent.departmentCode=copy.departmentCode">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input (focus)="onFocusField(4)" matInput placeholder="Код подразделения" [ngModel]="abonent?.departmentCode" (ngModelChange)="abonent.departmentCode=$event"
          name="abonentDepartmentCode" [formControl]="departmentCode">
        <mat-error *ngIf="departmentCode?.invalid && departmentCode?.touched">
          Department code must have 6 digits exactly!
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="row buttons-panel">
      <button mat-button type="button" color="primary" class="break-scenario" (click)="showBreakScenarioWindow()">Прервать сценарий</button>
      <button mat-raised-button type="button" color="primary" class="add-to-basket" (click)="addToBasket()" [disabled]="departmentCode?.invalid || surname?.invalid">Добавить в корзину</button>
    </div>
</div>